<?xml version="1.0"?>
<!DOCTYPE Configure PUBLIC "-//Mort Bay Consulting//DTD Configure//EN" "http://www.eclipse.org/jetty/configure_9_0.dtd">
<Configure class="org.eclipse.jetty.webapp.WebAppContext">

	<New id="DSTest" class="org.eclipse.jetty.plus.jndi.Resource">
		<Arg></Arg>
		<Arg>jdbc/${project}</Arg>
		<Arg>
			<New class="com.jolbox.bonecp.BoneCPDataSource">
				<Set name="driverClass">${driver}</Set>
				<Set name="jdbcUrl">${url}</Set>
				<Set name="username">${user}</Set>
				<Set name="password">${password}</Set>
				<Set name="minConnectionsPerPartition">5</Set>
				<Set name="maxConnectionsPerPartition">50</Set>
				<Set name="acquireIncrement">5</Set>
				<Set name="idleConnectionTestPeriod">30</Set>
			</New>
		</Arg>
	</New>

</Configure>